<div id="equipa">
    <div>
        <div class="investigador branco">
            <div class="titulo">Equipa Técnica</div>
            <div class="texto">
            </div>
        </div>
    </div>
    <br>

    <div class="investigador blue">
        <div class="nome">
            <p class="material-symbols-outlined" style="color:white;">expand_more</p>
            <span><b>Inês Rocha</b> técnico de desenvolvimento</span>
        </div>
        <div class="descricao">
            <ul>
                <li>Investigador, COPELABS-DEISI</li>
                <li>Finalista da Licenciatura em Engenhaira Informática, Universidade Lusófona</li>
            </ul>
        </div>
    </div>

    <br>
    <div class="investigador blue">
        <div class="nome">
            <p class="material-symbols-outlined" style="color:white;">expand_more</p>
            <p><b>Filipe Parreiras</b> técnico de desenvolvimento</p>
        </div>
        <div class="descricao">
            <ul>
                <li>Investigador, COPELABS-DEISI</li>
                <li>Finalista da Licenciatura em Engenhaira Informática, Universidade Lusófona</li>
            </ul>
        </div>
    </div>

    <br>
    <div class="investigador blue">
        <div class="nome">
            <p class="material-symbols-outlined" style="color:white;">expand_more</p>
            <p><b>João Pedro dos Santos</b> técnico de desenvolvimento</p>
        </div>
        <div class="descricao">
            <ul>
                <li>Investigador, COPELABS-DEISI</li>
                <li>Finalista da Licenciatura em Engenhaira Informática, Universidade Lusófona</li>
            </ul>
        </div>
    </div>

    <br>
    <div class="investigador blue">
        <div class="nome">
            <p class="material-symbols-outlined" style="color:white;">expand_more</p>
            <p><b>Lúcio Studer Ferreira</b> coordenador técnico</p>
        </div>
        <div class="descricao">
            <ul>
                <li>Investigador, COPELABS-DEISI</li>
                <li>Doutoramento em Engenharia Electrotécnica e Computadores, Instituto Superior Técnico
                </li>
            </ul>
        </div>
    </div>

    <br>
    <div class="investigador blue">
        <div class="nome">
            <p class="material-symbols-outlined" style="color:white;">expand_more</p>
            <p><b>Nuno Rasteiro</b> técnico de desenvolvimento</p>
        </div>
        <div class="descricao">
            <ul>
                <li>Investigador, COPELABS-DEISI</li>
                <li>Finalista da Licenciatura em Informática de Gestão, Universidade Lusófona</li>
            </ul>
        </div>
    </div>

    <br>
    <div class="investigador blue">
        <div class="nome">
            <p class="material-symbols-outlined" style="color:white;">expand_more</p>
            <p><b>Pedro Machado dos Santos</b> coordenador científico</p>
        </div>
        <div class="descricao">
            <ul>
                <li>Investigador, Instituto Serviço Social</li>
                <li>Doutoramento em Ciências Biomédicas, Instituto de Ciências Biomédicas Abel Salazar
                    da
                    Universidade do Porto</li>
            </ul>
        </div>
    </div>
</div>'